<mat-card>
  <mat-card-header>
    <mat-card-title>Customer Info</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form #form="ngForm" class="form-info">
      <mat-form-field class="input-wrap">
        <input matInput placeholder="First name" name="firstName" ngModel #firstName="ngModel" maxlength="50" required>
        <mat-error>First name is required</mat-error>
      </mat-form-field>
      <mat-form-field class="input-wrap">
        <input matInput placeholder="Last name" name="lastName" ngModel #lastName="ngModel" maxlength="50" required>
        <mat-error>Last name is required</mat-error>
      </mat-form-field>
      <mat-form-field class="input-wrap">
        <input matInput placeholder="Email" type="email" email name="email" ngModel #email="ngModel" maxlength="50" required>
        <mat-error *ngIf="email.errors?.required">Email is required</mat-error>
        <mat-error *ngIf="email.errors?.email">Email is not valid</mat-error>
      </mat-form-field>
      <mat-form-field class="input-wrap">
        <input matInput placeholder="Phone number" minlength="10" maxlength="11" mask="9*" name="phone" ngModel #phone="ngModel" required>
        <mat-error *ngIf="phone.errors?.required">Phone is required</mat-error>
        <mat-error *ngIf="phone.errors?.minlength">Phone number is not valid</mat-error>
      </mat-form-field>
      <mat-form-field class="input-wrap">
        <textarea matInput placeholder="Address" name="address" ngModel #address="ngModel" required></textarea>
        <mat-error>Address is required</mat-error>
      </mat-form-field>
      <mat-form-field class="input-wrap">
        <textarea matInput placeholder="Notes" name="notes" ngModel #notes="ngModel"></textarea>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions class="card-actions">
    <button mat-raised-button type="button" [disabled]="form.pristine || form.invalid" color="primary" class="btn-save">Save</button>
  </mat-card-actions>
</mat-card>
