.product-item {
    height: 300px;
    width: 200px;
    margin: 10px;
    img {
        max-width: 200px;
        max-height: 200px;
    }
    .card-action {
        display: flex;
        justify-content: space-around;
    }
    mat-card-content {
        > div {
            margin: 5px 0;
        }
        .name {
            font-weight: bold;
        }
    }
}