<form #form="ngForm" class="add-to-cart-form">
  <div class="title">Add to cart</div>
  <button mat-icon-button type="button" class="btn-close" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
  <div class="content">
    <div class="img-wrap">
      <img [src]="cartItem?.product.picture">
    </div>
    <div class="product-name">{{cartItem?.product.name}}</div>
    <div class="qty-input-wrap">
      <div class="label">Qty</div>
      <mat-form-field class="qty-field">
        <input matInput type="number" name="qty" maxlength="2" [(ngModel)]="cartItem.qty" (change)="checkInputQty()">
      </mat-form-field>
    </div>
    <div>Total: {{cartItem?.total | number}} USD</div>
  </div>
  <button mat-raised-button type="button" color="primary" (click)="addToCart()">Add to cart</button>
</form>
