<mat-toolbar class="navbar" color="primary">
  <span><a routerLink="/">Home</a></span>
  <span class="navbar-spacer"></span>
  <div class="navbar-icon-wrap">
    <a routerLink="/wish-list"><mat-icon svgIcon="wishlist"></mat-icon></a>
    <div class="wishlist-info">
      {{(wishlist$ | async).length}} {{(wishlist$ | async).length > 1 ? 'items' : 'item'}}
    </div>
  </div>
  <div class="navbar-icon-wrap">
      <a routerLink="/cart"><mat-icon>shopping_cart</mat-icon></a>
      <div class="cart-info">
        <div>{{(cart$ | async).cartQty || 0}} {{(cart$ | async).cartQty > 1 ? 'items' : 'item'}}</div>
        <div>{{((cart$ | async).cartTotal || 0) | number}} USD</div>
      </div>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>