.navbar {
    display: flex;
    &-spacer {
        flex: 1 1 auto;
    }
    &-icon-wrap + &-icon-wrap {
        margin-left: 10px;
    }

    &-icon-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            vertical-align: middle;
            line-height: 1.2rem;
        }
        .wishlist-info {
            font-size: .8rem;
            margin-left: 5px;
        }
        .cart-info {
            font-size: .7rem;
            line-height: 1rem;
            text-align: center;
            margin-left: 5px;
        }
    }
}