<mat-card class="cart-item">
  <div class="item-wrap">
    <img class="picture" [src]="cartItem?.product.picture || 'assets/images/default/picture.svg'" [alt]="cartItem?.product.name">
    <form #form="ngForm" class="info">
      <div class="name">{{cartItem?.product.name}}</div>
      <div>Price: {{(cartItem?.product.price || 0) | number}} USD</div>
      <div class="qty-input-wrap">
        <div class="label">Qty</div>
        <mat-form-field class="qty-field">
          <input matInput type="number" name="qty" maxlength="2" [(ngModel)]="cartItem.qty" (change)="checkInputQty()">
        </mat-form-field>
      </div>
      <div>Total: {{(cartItem?.total || 0) | number}} USD</div>
    </form>
  </div>
  <div class="card-action">
    <button mat-icon-button color="primary" type="button" (click)="addToWishlist.emit(cartItem)">
      <mat-icon svgIcon="wishlist"></mat-icon>
    </button>
    <button mat-icon-button color="primary" type="button" (click)="remove.emit(cartItem)">
      <mat-icon>close</mat-icon>
    </button>

  </div>
</mat-card>
